@font-face {
    font-family: PoppinsRegular;
    src: url(../font/Poppins-Regular.ttf);
}
@font-face {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial';
    text-align: center;
}
html {
    font-family: PoppinsRegular;
}
#menu {
    display: inline;
}
#barraMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
  }
.paginacion {
    text-align: center;
}
.ubicacion {
    color: black;
}
#marca-reg {
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.753);
    color: orange;
    text-align: center;
    margin-top:15px;
    font-size:13px;
    margin-bottom:0;
    padding:3% 0;
}